@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111827; /* Un gris casi negro más moderno */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #030712;
    --foreground: #f9fafb;
  }
}

/* Estilos base globales */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), ui-sans-serif, system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Configuración para que las imágenes respeten siempre el ratio 
   y no rompan el diseño dinámico 
*/
img {
  max-width: 100%;
  height: auto;
}